<h1>*ngSwitch</h1>
<input type="text" required  [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">
    La persona es nicolas
  </p>
  <p *ngSwitchCase="'julian'">
    La persona es julian
  </p>
  <p *ngSwitchCase="'jorge'">
    La persona es jorge
  </p>
  <p *ngSwitchCase="'camilo'">
    La persona es camilo
  </p>
  <p *ngSwitchCase="'juan'">
    La persona es juan
  </p>
  <p *ngSwitchDefault="">
    no coindiden, por favor ingrese...
  </p>
</div>



<hr>
<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <img width="250xp" [src]="product.image" alt="imagen">
    <h2> {{product.price}}</h2>
    <p>{{product.name}}</p>

  </div>

</div>

<hr>
<h1>*ngFor</h1>
<input type="text" required  [(ngModel)]="newName" />
<button (click)="addName()">Añadir un nombre</button>
<ul>
  <p *ngIf = "names.length === 0">Añade nombres a la lista</p>
  <li *ngFor="let nameArray of names; index as i">
    {{i}} --> {{ nameArray }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>


<h1>*ngIf</h1>
<input type="text" required  [(ngModel)]="person.name" />
<p *ngIf="person.name ==='jorge'">Soy Jorge</p>
<p *ngIf="person.name ==='nicolas' && person.age ===18; else myBlock">Soy Nicolas</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>
<hr>
<h1>NgModel</h1>
<p>Nombre: {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valido: {{nameInput.valid}}</p>
<p>Edad: {{person.age}} </p>
<input type="number" min="10" max="18" required #AgeInput="ngModel" [(ngModel)]="person.age" />
<p>Valido: {{AgeInput.valid}}</p>
<hr>
<h1>Eventos</h1>
<button [disabled]="btnDisable"> Enviar</button>
<button (click)="toggleButton()">Toggle Button</button> <!--(click es el evento y "" es el metodo que se trae del componente ts)-->

<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Aumentar edad</button>
<button (click)="diminishAge()">Disminuir edad</button>

<!--Evento Scroll de tipo HTMLElement-->

<!--Se puede crear eventos y llamarlos de la siguiente manera-->
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam praesentium repellendus facilis quis quisquam eius officiis eligendi, architecto blanditiis tenetur sit, nulla alias ea earum corporis vitae doloremque voluptatibus minus?</p>
</div>

<!--Evento KeyUP de tipo HTMLInputElement-->
<p>Nombre {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"> <!--KeyUp es el evento que registra todo lo que tecleamos-->


<hr>

<h1>Propiedades</h1>
<!--<button disable="false">Enviar</button> ===> Este elemento puede tener un estado, y se puede controlar desde html o desde el componente ts como con property binding-->

<!--El property biding se utiliza exclusivamente para propiedades de elementos de html-, se recomienda tambien utilizarlo para los src, para no estar preguntando si es un string -->

<button [disabled]="btnDisable"> Enviar</button>
<input type="text" [value]="person.name"> <!--  El input como tal no renderiza por esto se puede poner un valor inicial para mostrar como ejemplo-->

<progress max="100" [value]="person.age"></progress> <!--Es la forma de poner una barra de progreso y se puede traer una propiedad en el valor como por ejemplo la edad -->

<img width="100xp" [src]="person.avatar"> <!--las imagenes tambien se pueden traer porque el src(fuente) es una propiedad-->

<hr>  <!--Division sencilla-->




<h1>Hola mundo</h1> <!--Este es el componente de angular para renderizar, es la forma de repartir las responsabilidades-->

<!--El String Interpolation se usa para ingresar contenido en una etiqueta que se necesite renderizar de alguna manera-->

<h2>{{'Hola mundo, '.repeat(5)}}</h2> <!--Lo que esta dentro de las llaves es el String interpolation, funiona como una función y permite utilizar varios metodos de JS-->
<p> La el resultado de la suma de 3+3 es: {{'La respuesta de la suma es: ' + (3+3)}}</p>

<h3>Hola, soy {{name}} y tengo {{person.age}} años</h3> <!--Puede llamar objetos de otras componentes desde que haya un tamplateURL, que funciona como un modelo-->
<figure>
  <img width="300xp" src={{img}} alt = "" >
</figure>


