<h1>Hola mundo</h1> <!--Este es el componente de angular para renderizar, es la forma de repartir las responsabilidades-->
<h2>{{'Hola mundo, '.repeat(5)}}</h2> <!--Lo que esta dentro de las llaves es el String interpolation, funiona como una función y permite utilizar varios metodos de JS-->
<p> La el resultado de la suma de 3+3 es: {{'La respuesta de la suma es: ' + (3+3)}}</p>

<h3>Hola, soy {{name}} y tengo {{age}} años</h3> <!--Puede llamar objetos de otras componentes desde que haya un tamplateURL, que funciona como un modelo-->
<figure>
  <img src="{{img}}" alt="Esta es una imagen de subrealista de cuervos y un puerto. Foto de akın  akdağ de Pexels">
</figure>

